* {
    text-decoration: none;
}

.mode {
    position: absolute;
    right: 120px;
    bottom: 100px;
}

.Nav > ol {
    font-size: 28px;
    position: absolute;
    top: 25%;
    left: 16%;
    bottom: 75%;
}

.welcome {
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 17%;
    bottom: 40%;
}

.create { 
    position: absolute;
    left: 60%;
    top: 25%;
    bottom: 75%;
}

.createArticle {
    position: absolute;
    left: 60%;
    top: 30%;
    bottom: 70%;
}

.label {
    font-size: 18px;
}

.update {
    position: absolute;
    left: 72%;
    top: 25%;
    bottom: 75%;
}

.delete {
    position: absolute;
    left: 85%;
    top: 25%;
    bottom: 75%;
}

.deleteBtn {
    padding: 5px 15px;
    font-size: 24px;
    border-radius: 6px;
    background-color: pink;
}

a {
    color: rgb(255, 97, 189);
}